.main {
	/* background: linear-gradient(
		113deg,
		rgba(238, 174, 208, 1) 0%,
		rgba(157, 148, 233, 1) 100%
	); */
	background: rgb(112, 164, 255);
	background: radial-gradient(
		circle,
		rgba(112, 164, 255, 1) 21%,
		rgba(112, 164, 255, 1) 21%,
		rgba(255, 255, 255, 1) 100%
	);
	width: 100vw;
	height: 100vh;
}

.header {
	background-color: white;
	width: 600px;
	height: 70px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 10px auto;
	border-radius: 20px;
}

.page__title {
	color: black;
}

.createbtn {
	width: 150px;
	height: 50px;
	border: none;
	background-color: rgb(13, 193, 13);
	color: white;
	font-size: 18px;
	font-weight: bold;
	border-radius: 10px;
}

.grid__container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	overflow: scroll;
	scrollbar-width: none;
	width: 85%;
	padding: 40px;
	height: 650px;
	margin: 0 auto;
}
