@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.main {
	overflow: scroll;
	height: 731px;
	width: 87%;

	background-color: whitesmoke;
	font-family: 'Noto Sans', sans-serif;
}

.error {
	text-align: center;
	color: black;
	margin: 300px 0;
}

.mapImage {
	width: 800px;
	display: flex;
	height: 450px;
	align-items: center;
	justify-content: center;
}

.mapImage img {
	width: 700px;
	border-radius: 10px;
	transition: all ease 0.3s;
}

.mapImage img:hover {
	scale: 1.03;
}

.map__container {
	border-radius: 20px;
	width: 400px;
	height: 350px;
}

.map {
	border-radius: 20px;
	width: 400px;
	height: 350px;
}

.info {
	margin-top: 20px;
	width: 500px;
	height: 400px;
}

.name {
	margin-bottom: 10px;
}

.mapButton {
	border: none;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
	width: 170px;
	height: 50px;
	border-radius: 10px;
	background-color: white;
	margin-top: 10px;
	transition: all ease 0.2s;
}

.mapButton:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mapButton h1 {
	font-size: 17px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	background: linear-gradient(
		113deg,
		rgba(238, 174, 208, 1) 0%,
		rgba(157, 148, 233, 1) 100%
	);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.fav {
	font-size: 20px;
}

.fav__container {
	display: flex;
	align-items: center;
	width: 450px;
	justify-content: space-between;
	margin-bottom: 20px;
}

.categories__container {
	width: 330px;
	/* background-color: red; */
	height: 40px;
	margin: 10px 0;
	border-radius: 10px;
	overflow: scroll;
	display: flex;
}

.category {
	cursor: pointer;
	width: 100px;
	background-color: rgb(0, 206, 0);
	margin: 5px;
	height: 30px;
	text-align: center;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	line-height: 30px;
}

.button__container {
	width: 75%;
	display: flex;
	justify-content: space-between;
}

.another__info {
	margin-top: 20px;
}

.rating {
	width: 55px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.rating img {
	width: 25px;
	height: 25px;
}

.rating h1 {
	font-weight: 500;
	font-size: 26px;
}

.reviews__block {
	display: flex;
	justify-content: space-around;
	padding: 20px;
	margin: 20px auto;
	width: 80%;
	height: 400px;
	color: black;
	border-radius: 20px;
}

.review__form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
	width: 400px;
	max-height: 500px;
	height: 300px;
	background-color: white;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 10px 0;
}

.review__input {
	background-color: rgb(241, 241, 241);
	width: 80%;
	border: none;
	margin: 8px auto;
	height: 40px;
	padding: 0 10px;
	font-size: 16px;
	border-radius: 5px;
	transition: all ease 0.05s;
}

.review__input:focus {
	border-bottom: 3px solid rgb(94, 94, 255);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	outline: none;
}

.reviewBtn {
	cursor: pointer;
	width: 100px;
	height: 40px;
	border: none;
	background-color: blue;
	color: white;
	border-radius: 10px;
	font-weight: bold;
	font-size: 16px;
	transition: all ease 0.3s;
}

.reviewBtn:hover {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.starsBar {
	background-color: white;
	height: 30px;
	padding: 5px;
	border-radius: 5px;
	margin: 10px;
}

.star {
	cursor: pointer;
	width: 20px;
	margin: auto 2px;
}

.reviewError {
	text-align: center;
	font-size: 18px;
	margin-bottom: 2px;
}

.reviews__container {
	margin: 10px;
	width: 400px;
	height: 300px;
	background-color: white;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.reviews__title {
	text-align: center;
}

.reviews {
	margin: 0 auto;
	height: 250px;
	width: 98%;
	overflow: scroll;
}

.review {
	height: 150px;
	margin: 10px;
	width: 95%;
	background-color: rgb(244, 244, 244);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
	border-radius: 10px;
	padding: 2px;
}

.review__stars {
	width: 100px;
	height: 20px;
}

.review__stars img {
	width: 20px;
}

.review__created {
	font-size: 18px;
}

.review__title {
	font-size: 20px;
	width: 90%;
	margin: 0 auto;
}

.review__description {
	margin: 0 auto;
	width: 90%;
	font-size: 14px;
}
