.container {
	width: 850px;
	background-color: rgb(23, 23, 23);
	color: white;
	border-radius: 5px;
	height: 200px;
	margin: 10px auto;
	display: flex;
}

.avatar {
	width: 170px;
	height: 170px;
	border-radius: 50%;
	border: 3px solid white;
	margin: auto 20px;
}
.username {
	color: rgb(43, 119, 226);
	font-size: 26px;
	margin-top: 30px;
}

.bio {
	display: block;
	width: 400px;
}

.btns {
	margin: auto;
}

.send {
	cursor: pointer;
	border: none;
	background-color: rgb(115, 0, 255);
	width: 200px;
	height: 80px;
	color: white;
	font-size: 26px;
	font-weight: bold;
	border-radius: 10px;
	transition: all ease 0.3s;
}

.send:hover {
	border: 3px solid rgb(94, 0, 128);
}
