.button {
	cursor: pointer;
	color: white;
	border: none;
	background-color: rgb(0, 76, 255);
	width: 120px;
	height: 30px;
	font-size: 18px;
	border-radius: 8px;
	transition: all ease 0.4s;
}

.button:hover {
	background-color: rgb(37, 103, 255);
}
