.main__container {
	margin: 10px auto;
	padding: 20px;
	height: 650px;
	width: 70%;
	border-radius: 40px;
}

.search {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0 auto;
	width: 90vh;
	background-color: rgb(45, 45, 45);
	padding: 5px 30px;
	border-radius: 30px;
	opacity: 0.9;
}

.search img {
	cursor: pointer;
	width: 30px;
	height: 30px;
}

.search input {
	color: #fdfdfd;
	font-size: 22px;
	outline: none;
	width: 580px;
	border: none;
	background-color: rgb(45, 45, 45);
	height: 35px;
}

.error {
	text-align: center;
	margin-top: 40px;
	color: rgb(255, 81, 81);
}

.users {
	height: 550px;
	overflow: scroll;
}
